/* CONTAINER STYLING */

.container2 {
    z-index: 100;
    height: 400px;
    background-color: black;

}

.container2 .column-wrap {
    display: flex;
}

/* COL-1 STYLING */

.column-wrap .column-1 {
display: flex;
justify-content: center;
align-items: center;
}

.column-1 {
    margin: auto;
}

/* COL-2 STYLING*/
.column-wrap .column-2{
    width: 450px;
    height: 170px;
}
.column-2 p {
    text-align: center;
    font-weight: 500;
    font-size: 20x;
}

.column-2 {
    margin: 100px;
}

/* RESPONSIVE STYLING */

@media screen and (max-width: 940px) {
    .container2 .column-wrap {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container2 .column-wrap .column-1 {
        margin-top: 60px;
    }

    .container2 .column-2 {
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }

    .container2 {
        margin-bottom: -80px;
    }
}