@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Rajdhani:wght@300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #D69E39;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

.btn-desktop {
  display: block;
  width: 100px;
  height: 30px;
  margin-right: 15px;
  background-color: black;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  
}

ul {
  list-style: none;
}