@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Rajdhani:wght@300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #D69E39;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}